.poker-row {
  display:flex;
  align-items: center;
  width:100%;
  padding:10px 20px;
  margin:0;
  box-sizing: border-box;
  min-height:105px;

}
.poker-row .id-and-name{
  width:80%;
}
.poker-row .id-and-name p{
  margin:0;
  color: #333333;
  font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;

}
.poker-row .id-and-name span{
  color:#333333;
  font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
  font-size: 14px;
  line-height: 19px;
}
.poker-row .icon-check{
  margin-left:auto;
  text-align: center;
  width:23px;

}
